<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.vuejs_ex.dao.UserDAO">
    <select id="getAllUsers" resultType="UserVO">
        SELECT *
          FROM USER_TEST
    </select>

    <select id="getUser" resultType="UserVO">
        SELECT *
        FROM USER_TEST
        WHERE id = ${id}
    </select>

    <delete id="deleteUser">
        delete from user_test
        where id = #{id}
    </delete>

    <insert id="insertUser">
        INSERT INTO user_test (name, age)
        VALUES (#{name}, #{age})
    </insert>

    <update id="updateUser">
        UPDATE user_test
           SET name = #{name},
               age = #{age}
         WHERE id=#{id}
    </update>
</mapper>